<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="members"> show records </a>


    <h2>Add Member</h2>
<form action="addrecords">

  First name: <input type="text" name="text1">

  Last name: <input type="text" name="text2">
  <input type="submit" value="Add">
</form>

<h2>Update Member</h2>
<form action="update">
  ID: <input type="text" name="id">
  New First name: <input type="text" name="text1">
  New Last name: <input type="text" name="text2">
  <input type="submit" value="Update">
</form>


<h2>Delete Member</h2>
<form action="delete">
  ID: <input type="text" name="id">
  <input type="submit" value="Delete">
</form>

</body>
</html>
